# Directories
.idea/
.vs/
cmake-build-debug/
cmake-build-release/
scripting/SteelCore/obj
scripting/SteelCore/bin
scripting/SteelCustom/obj
scripting/SteelCustom/bin

# User files
*.user

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
!engine/includes/dll/*.dll
!engine/includes/mono/bin/*.dll
!engine/includes/mono/lib/*.so

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
!engine/includes/mono/lib/*.lib

# Executables
*.exe
*.out
*.app
